.landing-container{
    background: linear-gradient(to bottom, #322fd08c, #3e00718a), url('../../img/fondo2.gif') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.twhite{
    color: white;
    text-decoration: none;
}
.titles{
    background-color: #3e0071a2;
    border-radius: 10px;
    font-size: 400%;
    text-align: center;
    border-width: 4px;
    border-color: #FB2576;
    border-style: double;
    padding: 4px;
    text-decoration: none;
}

.link-cards{
    text-decoration: none;
}