.contenedor-ejercicios{
    background:linear-gradient(to bottom, #322fd08c, #3e00718a), url('../../img/casizelda.gif') no-repeat center;
    /* background: url('../../img/casizelda.gif') no-repeat center; */
    background-size: cover;
    width: 100%;
    height: 100%;
}

.fondos-ejercicios{
    background-color: white;
    border-radius: 10px;
    border-width: 4px;
    border-color: #3F0071;
    border-style: double;
    padding: 10px;
    min-height: 240px;
}

.my{
    margin-top: 5px;
    margin-bottom: 5px;
}

.respuestas{
    background-color: #3e0071a2;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    border-width: 8px;
    border-color: #FB2576;
    border-style: double;
    min-height: 300px;
}

.java-frame{
    background-color: #3e0071a2;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    border-width: 8px;
    border-color: #FB2576;
    border-style: double;
    min-height: 300px;
}

.diagramas{
    height: 700px;
    width: auto;
}

.java-frame::-webkit-scrollbar-thumb {
    background: #fb2577ad;
    border-radius: 10px;
}

.java-frame::-webkit-scrollbar{
    width: 10px;
    background: #332FD0;
}
